{% macro displayNewsList(news_list) %}

    {% for news in news_list %}
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 news-card">
      <img src="{{news.urlToImage}}" alt="{{ news.title}}" class="img-responsive">
       <li class="text-center">
        <a href="{{ news.url}}" target="_blank">
        <!-- <li>{{ news.author}}</li>
        <li>{{ news.description}}</li>
        <li>{{ news.publishedAt}}</li> -->
        {{news.author}}</li></a>
        </li>
     <div>
       
    {% endfor %}

{% endmacro %}
