{% macro displayNewsList(news_list) %}

    {% for news in news_list %}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 news-card">
      <img src="{{news.urlToImage}}" alt="{{ news.title}} "  style='width:100%;height:50vh;' class="img-responsive">
      {%if news.url%}
        <a href="{{ news.url}}" target="_blank">
        <!-- <h3>{{ news.author}}</h3> -->
        <p>{{ news.description}} <em>{{ news.publishedAt}}</em></p>
        <!-- <p>{{ news.publishedAt}}</p> -->
        {%endif%}

    </div>
       <br>
    {% endfor %}

{% endmacro %}
